/*--------------BUTTON-LOGIN--------------*/
#header .top-right .login .btn-link{
    color: blue;
    padding-right: 10px;
    display: inline-block;
}

    #header .top-right .login .btn-link span{
        padding-left: 10px;
        display: block;
    }

    #header .top-right .login .btn-link:hover{
        color:cornflowerblue;
    }

/*--------------BUTTON-BUY--------------*/
#header .menu .btn-link{
    height: 25px;
    line-height: 25px;
    color: white;
    background-color:navy;
    border-radius: 30px;
    padding-right: 28px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}

    #header .menu .btn-link span{
        padding-left: 28px;
        display: block;
    }

    #header .menu .btn-link:hover{
        background-color:cornflowerblue;
    }

/*--------------BUTTON-TYPE-PRODUCTS--------------*/
#type-products .btn-link{
    height: 48px;
    line-height: 22px;
    width: 155px;
    color: white;
    background-color:lightblue;
    border-radius: 25px;
    padding-right: 12px;
    font-size: 16px;
    text-align:center;
    display: inline-block;
}

    #type-products .btn-link span{
        padding-left: 12px;
        display: block;
    }

    #type-products .btn-link:hover{
        background-color:dodgerblue;
    }

/*--------------BUTTON-COMPARE-BUY-CONTACT--------------*/
#detail-types .compare .btn-link, #detail-types .buy .btn-link, #customized .right .contact .btn-link{
    height: 48px;
    line-height: 48px;
    width: 140px;
    color: white;
    background-color:gray;
    border-radius: 25px;
    padding-right: 12px;
    font-size: 16px;
    text-align:center;
    display: inline-block;
}

    #detail-types .compare .btn-link span, #detail-types .buy .btn-link span{
        padding-left: 12px;
        display: block;
    }

    #detail-types .compare .btn-link:hover{
        background-color:dodgerblue;
    }

#detail-types .buy .btn-link, #customized .right .contact .btn-link{
    background-color:dodgerblue;
}

    #detail-types .buy .btn-link:hover, #customized .right .contact .btn-link:hover{
        background-color:deepskyblue;
    }

/*--------------BUTTON-RESOURCES--WHERE-BUY--------------*/
#resources .content .resource-1 .btn-link, .resource-2 .btn-link, .resource-3 .btn-link, .resource-4 .btn-link, .resource-5 .btn-link, 
#where-to-buy .content .buy-1 .btn-link, #where-to-buy .content .buy-2 .btn-link, #where-to-buy .content .buy-3 .btn-link{
    height: 10px;
    width: 250px;
    color:dodgerblue;
    background-color: white;
    border-radius: 15px;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}
#resources .content .resource-1 .btn-link:hover, .resource-2 .btn-link:hover, .resource-3 .btn-link:hover, 
.resource-4 .btn-link:hover, .resource-5 .btn-link:hover, #where-to-buy .content .buy-1 .btn-link:hover, 
#where-to-buy .content .buy-2 .btn-link:hover, #where-to-buy .content .buy-3 .btn-link:hover{
    background-color:deepskyblue;
}

/*--------------BUTTON-SUBSCRIBE--------------*/
#email .btn-link{
    height: 40px;
    line-height: 40px;
    width: 120px;
    color:white;
    background-color:#14345C;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}
    #email .btn-link span{
        padding-left: 16px;
        display: block;
    }

    #email .btn-link:hover{
        background-color:dodgerblue;
    }

/*--------------BUTTON - SCROLLTOTOP--------------*/
.scroll button{
    position: fixed;
    right: 65px;
    bottom: 90px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 10px #14345C;
    color:#14345C;
    border: none;
}
    .scroll button:hover{
        cursor: pointer;
        opacity: 0.6;
    }

/*--------------BUTTON - SCROLLTOTOP--------------*/
.chatbox button{
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 120px;
    height: 50px;
    background-color:#14345C;
    border-radius: 22px;
    color:white;
    border: none;
}
    .chatbox button:hover{
        cursor: pointer;
        opacity: 0.6;
    }

/*--------------INPUT - EMAIL--------------*/
#email .row input{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border: 1px solid #a1b4da;
    border-radius: 6px;
    font-size: 15px;
    color:#a1b4da;
    width: 280px;
    padding-left: 10px;
}