<div id="header">
  <nav class="navbar">
    <!--Logo-->
    <div class="navbar_logo">
      <a href="/">
        <img class="navbar_logo--img" src="../image/LIPS_Logo.png" alt="Lips logo">
      </a>
    </div>
    <!--Login-Language-->
    <div class="navbar_top-right">
      <div class="navbar_login">
        <img src="../image/login_logo.png" height="25px" alt="login logo">
        <a class="login_btn btn-link" href="#"><span>Log In</span></a>
      </div>
      <div class="navbar_language">
        <img src="../image/usa.png" height="20px" alt="usa lang">
        <select class="navbar_language--select">
          <option>En</option>
          <option>Vie</option>
        </select>
      </div>
    </div>

    <!--Menu-->
    <div class="navbar_menu">
      <ul class="navbar_menu--list">
        <li class="navbar_menu--item product"><a class="navbar_menu--item--text" href="#">Product</a></li>
        <li class="navbar_menu--item"><a class="navbar_menu--item--text" href="#">Solution</a></li>
        <li class="navbar_menu--item"><a class="navbar_menu--item--text" href="#">Developer</a></li>
        <li class="navbar_menu--item"><a class="navbar_menu--item--text" href="/blog">Blog</a>
        </li>
        <li class="navbar_menu--item"><a class="navbar_menu--item--text" href="#">Support</a></li>
        <li class="navbar_menu--item"><a class="navbar_menu--item--text" href="#">Company</a></li>
        <li class="navbar_menu--item cart">
          <a href="#"><img src="../image/cart.png" height="25px" alt="cart"></a>
        </li>
        <li class="navbar_menu--item">
          <a class="navbar_menu--buy-btn btn-link" href="#"><span>Buy</span></a>
        </li>
      </ul>
    </div>
    <div class="clr"></div>
  </nav>
</div>
