:root {
    --site-width: 1000px
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 2000px;
    max-width: 2000px;
    min-width: 1200px;
}

/*-------------HEADER-------------*/
#header {
    display: block;
    height: 110px;
    position: relative;
}

.navbar {
    margin-left: calc((100% - var(--site-width))/2);
    min-width: 800px;
    max-width: 1000px;
    height: 100%;
}

.navbar_logo {
    margin: 25px 0px;
    position: absolute;
    float: left;
    width: 200px;
    height: 60px;
    line-height: 200px;
}

.navbar_logo--img {
    vertical-align: top;
}

.navbar_top-right {
    position: relative;
    margin: 20px 50px;
    float: right;
}

.navbar_login {
    float: left;
}

.navbar_language {
    float: right;
    margin-top: 5px;
}

.navbar_language--select {
    color: cornflowerblue;
    font-size: 15px;
    text-transform: uppercase;
}

.navbar_language--select:hover {
    cursor: pointer;
    opacity: 0.6;
}

.navbar_menu {
    margin: 65px 185px;
    height: 20px;
    width: 810px;
    position: absolute;
}

.navbar_menu--list {
    position: relative;
    justify-items: center;
}

.navbar_menu--item {
    float: left;
}

.navbar_menu--item--text {
    padding: 0px 18px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #14345C;
}

/* #header .menu ul .product{ */
/* width: 800px; */
/* height: 650px; */
/* background-color:white; */
/* } */
/* #header .menu ul .product:hover{ */
/* width: 800px;
                height: 650px;
                background-color:blue; */
/* } */

/*-------------CONTENT-------------*/

.module {
    display: block;
}

.container {
    height: 850px;
    position: relative;
    overflow: hidden;
}

.container .slide {
    position: absolute;
    /* height: 100%; */
    display: flex;
    width: 100%;
    transition: 1s;
}

.item {
    display: flex;
    /* height: 100%; */
    min-width: 100%;
    /* object-fit: cover; */
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    /* animation: showslide 1s ease-in-out 2s; */
}

.container--btn {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.container--btn button {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    background-color: #14345C;
    border: none;
}

.container--btn #prev:hover,
.container--btn #next:hover {
    cursor: pointer;
    opacity: 0.6;
}

.container--dots {
    position: absolute;
    bottom: 50px;
    color: white;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container--dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: white;
    margin: 15px;
    border-radius: 20px;
    transition: 1s;
}

.container--dots li.active {
    width: 30px;
    background-color: darkgrey;
}

.container--dots li:hover {
    cursor: pointer;
}

.item:nth-child(1) .content .text {
    /* height: 120px; */
    padding: 75px 280px 40px;
    /* position:absolute; */
}

.item:nth-child(1) .content .text p {
    font-size: 55px;
    font-weight: 500;
    color: white;
}

.item:nth-child(1) .content .slide1-1 {
    padding-left: 25%;
    margin-bottom: 25px;
}

.item:nth-child(1) .content .slide1-2 {
    padding-left: 25%;
    margin-bottom: 35px;
}

.item:nth-child(1) .content .slide1-bottom {
    padding-left: 28%;
    margin-bottom: 25px;
    height: 105px;
}

.item:nth-child(1) .content .slidelogo {
    width: 320px;
    background-color: white;
    margin-right: 75px;
    float: left;
}

.item:nth-child(1) .content .slide1-3 {
    padding-top: 30px;
}

.item:nth-child(2) .content .text {
    padding: 175px 150px;
    float: left;
}

.item:nth-child(2) .content .text h3 {
    font-size: 60px;
    font-weight: bold;
    color: darkblue;
}

.item:nth-child(2) .content .text h4 {
    font-size: 42px;
    font-weight: bold;
    color: white;
}

.item:nth-child(2) .content .text p {
    font-size: 22px;
    color: cornflowerblue;
}

.item:nth-child(2) .content .slide2-1 {
    padding-top: 175px;
}

.item:nth-child(3) .content .text {
    padding: 55px 165px;
}

.item:nth-child(3) .content .text h3 {
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.item:nth-child(3) .content .text p {
    padding-top: 580px;
    font-size: 22px;
    color: cornflowerblue;
    position: absolute;
}

.item:nth-child(3) .content .slide3-1 {
    top: 65px;
    position: absolute;
}

.item:nth-child(4) .content .text {
    padding: 75px 165px;
}

.item:nth-child(4) .content .text h3 {
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.item:nth-child(4) .content .text p {
    padding-top: 20px;
    font-size: 22px;
    color: cornflowerblue;
    position: absolute;
}

.item:nth-child(4) .content .slide4-1 {
    padding-left: 120px;
    position: absolute;
}


#type-products {
    padding-top: 125px;
    padding-left: 135px;
    height: 140px;
    background-color: rgb(248, 248, 248);
}

.type_products--btn {
    float: left;
    margin-left: 12px;
}

#type-products .product1 a {
    background-color: dodgerblue;
}

#detail-types {
    height: 730px;
    width: 1582px;
    max-width: 100vw;
    background-color: rgb(248, 248, 248);
    position: relative;
    overflow: hidden;
}

#detail-types .buttons-product {
    margin-top: 280px;
    left: 180px;
    position: absolute;
    width: 76%;
    display: flex;
    justify-content: space-between;
}

#detail-types .buttons-product button {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    background-color: rgb(248, 248, 248);
    border: none;
}

.buttons-product #prev-product:hover,
.buttons-product #next-product:hover {
    cursor: pointer;
    opacity: 0.6;
}

#detail-types .type-product {
    position: absolute;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 0.8s;
}

.type-product .content-product {
    height: 100%;
    max-width: 100vw;
    object-fit: cover;
    position: relative;
}

.type-product .name-product {
    /* position:absolute; */
    padding: 10px 520px;
}

.type-product .name-product p {
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.type-product .img-product {
    padding-top: 30px;
    padding-left: 500px;
}

.type-product .description-product {
    padding: 20px 480px;
}

.type-product .description-product p {
    font-size: 28px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.type-product #box-product {
    margin: 20px 350px;
    height: 60px;
    line-height: 60px;
    background-color: rgb(198, 218, 243);
    position: relative;
}

.type-product #box-product ul li {
    float: left;
    margin-left: 80px;
    font-size: 20px;
}

.action_product {
    margin-left: 625px;
    position: relative;
}

.action_product--compare {
    float: left;
    margin-right: 20px;
}


#sense-the-world {
    height: 700px;
    background-color: rgb(240, 240, 240);
}

#sense-the-world h3 {
    padding-top: 120px;
    font-size: 45px;
    font-weight: bold;
    color: #14345C;
    letter-spacing: 1.2px;
    text-align: center;
}

#sense-the-world .pic1 {
    padding-left: 140px;
}

#sense-the-world .pic1,
.pic2,
.pic3 {
    margin: 55px 10px;
    float: left;
}

#sense-the-world p {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

#sense-the-world .down-icon {
    margin-left: 175px;
    width: 45px;
    opacity: 0.3;
}

#sense-the-world .down-icon:hover {
    cursor: pointer;
    opacity: 1;
}

#industrial-ready {
    height: 710px;
    background-color: black;
}

#industrial-ready h3 {
    padding: 120px 160px;
    font-size: 45px;
    font-weight: bold;
    color: white;
    letter-spacing: 1.2px;
}

#industrial-ready .industrial .left {
    float: left;
    padding-left: 160px;
}

#industrial-ready .industrial .right {
    float: right;
    padding-right: 30px;
}

#robotic {
    height: 1300px;
    overflow: hidden;
}

#robotic .content1 {
    width: 100%;
    background-image: url(../image/robot-bg.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
    padding: 75px 50%;
}

#robotic .content1 h3 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    letter-spacing: 1.3px;
}

#robotic .content1 .info {
    margin-top: 50px;
    height: 80px;
}

#robotic .content1 .info p {
    font-size: 22px;
    color: white;
    text-align: left;
    letter-spacing: 1.2px;
}

#robotic .content1 .tools {
    margin: 80px 65px;
}

#robotic .content2 {
    height: 100vh;
    width: 100%;
    background-image: url(../image/open-root-bg.png);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
    padding: 75px 22%;
}

#robotic .content2 h3 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    letter-spacing: 1.3px;
}

#robotic .content2 p {
    margin-top: 40px;
    font-size: 22px;
    color: white;
    text-align: left;
    letter-spacing: 1.2px;
}

#robotic .content2 .tools {
    margin-top: 55px;
}

#customized {
    height: 850px;
    background-color: rgb(240, 240, 240);
    position: relative;
}

#customized h2 {
    padding-top: 90px;
    font-size: 55px;
    font-weight: bold;
    color: black;
    letter-spacing: 1.3px;
    text-align: center;
}

.customized_left {
    margin: 50px 190px;
    position: absolute;
}

.customized_right {
    margin-top: 50px;
    margin-right: 220px;
    float: right;
}

.customized_right h4 {
    font-size: 22px;
    color: black;
    letter-spacing: 1.2px;
}

.customized_right ul li {
    list-style: circle;
    margin: 10px 30px;
}

.customized_right img {
    margin: 10px 50px;
    margin-bottom: 50px;
}

.customized_contact {
    margin: 65px 10px;
}

#cases {
    height: 650px;
    background-color: black;
}

#cases h3 {
    padding-top: 90px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    letter-spacing: 1.3px;
    text-align: center;
}

#cases .video1,
.video2,
.video3 {
    float: left;
    margin: 50px 50px;
    width: 420px;
    height: 220px;
    background-color: #14345C;
}

#cases .box {
    margin-bottom: 220px;
}

#cases p {
    margin-top: 230px;
    font-size: 18px;
    color: white;
}

#cases .load {
    margin: 390px 45%;
    height: fit-content;
    width: fit-content;
}

#cases .load p {
    font-size: 15px;
    letter-spacing: 0.8px;
    text-decoration: underline;
}

#cases .load p:hover {
    cursor: default;
    opacity: 0.4;
}

#resources {
    height: 550px;
    background-color: rgb(240, 240, 240);
    position: relative;
}

#resources h3 {
    padding: 100px 160px;
    font-size: 40px;
    font-weight: bold;
    color: #14345C;
    letter-spacing: 1px;
    float: left;
}

#resources .content {
    margin: 70px 430px;
    height: 420px;
    width: 970px;
    position: absolute;
}

#resources .content .resource-1,
.resource-2,
.resource-3 {
    float: left;
    padding: 10px 6px;
}

#resources .content .resource-4,
.resource-5 {
    float: left;
    padding: 40px 6px;
}

#resources .content a {
    padding: 65px 30px 95px;
}

#where-to-buy {
    height: 360px;
    background-color: rgb(248, 248, 248);
    position: relative;
}

#where-to-buy h3 {
    padding: 100px 160px;
    font-size: 38px;
    font-weight: bold;
    color: #14345C;
    letter-spacing: 0.4px;
    float: left;
}

#where-to-buy .content {
    margin: 70px 430px;
    height: 180px;
    width: 970px;
    position: absolute;
}

#where-to-buy .content .buy-1,
.buy-2,
.buy-3 {
    float: left;
    padding: 10px 6px;
}

#where-to-buy .content a {
    padding: 65px 30px 95px;
}

#alliance-partners {
    height: 930px;
    background-color: white;
}

#alliance-partners h3 {
    padding-top: 90px;
    font-size: 40px;
    font-weight: bold;
    color: #14345C;
    letter-spacing: 1.3px;
    text-align: center;
}

#alliance-partners .content .partner-1,
.partner-2,
.partner-3,
.partner-4,
.partner-5,
.partner-6 {
    float: left;
    margin: 50px 235px;
    height: 170px;
    width: 320px;
    background-color: #14345C;
}

#alliance-partners .content a:hover {
    opacity: 0.4;
    transition: 0.3s;
}


/*-------------FOOTER-------------*/
#footer {
    height: 365px;
    background-color: rgb(240, 240, 240);
    /* position: relative; */
    padding-left: 220px;
}

#footer .col1,
.col2,
.col3 {
    margin: 30px 40px;
    float: left;
}

#footer .col4 {
    margin: 30px 90px;
    float: left;
}

#footer h4 {
    font-size: 23px;
    color: #14345C;
    margin-bottom: 20px;
}

#footer a {
    font-size: 17px;
    color: dodgerblue;
}

#footer .page {
    margin-left: 11px;
}

.copyright {
    height: 25px;
    background-color: white;
    padding-top: 20px;
}

/*-------------BOX-------------*/
.box {
    font: 12px Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .container {
        height: 400px;
    }
}

/*=======================BLOG-PAGE========================*/
.wrapper {
    margin-top: 50px;
    height: 75px;
    line-height: 75px;
}

.wrapper ul {
    padding-left: 270px;
    position: relative;
}

.wrapper ul li a {
    margin-left: 40px;
    float: left;
    font-size: 20px;
    color: #14345C;
}

.wrapper ul li .btn-link {
    margin-left: 240px;
}

.posts {
    height: 1980px;
    position: relative;
}

.posts .content {
    position: relative;
    margin: 28px 310px;
    height: 350px;
    width: 960px;
    border: 0.8px solid gainsboro;
}

.posts .content img {
    float: left;
    margin-right: 25px;
    height: 100%;
    width: 50%;
    background-size: cover;
}

.posts .content .info {
    padding-top: 50px;
}

.info h4 {
    font-size: 25px;
    font-weight: bold;
    color: #14345C;
    letter-spacing: 0.8px;
}

.info p {
    margin-top: 30px;
    font-size: 16px;
    color: #14345C;
}

.posts .buttons {
    margin: 50px 35%;
    height: 30px;
    line-height: 30px;
    display: flex;
    position: relative;
}

.posts .buttons button {
    background-color: white;
    color: #14345C;
    border: none;
}

.posts .buttons button#backward {
    margin-right: 30px;
}

.posts .buttons button#prev {
    margin-right: 30px;
}

.posts .number {
    color: #14345C;
}

.number li {
    float: left;
    list-style: decimal;
    font-size: 15px;
    width: 40px;
    margin-left: 25px;
}

.posts .buttons button#foward {
    margin-left: 30px;
}

.posts .buttons button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.posts .number li:hover {
    cursor: pointer;
    opacity: 0.6;
}
