<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./elements/head %>
</head>

<body>
    <% include ./elements/header %>

        <body>
            <%- body %>
        </body>

        <footer>
            <% include ./elements/footer %>
        </footer>
</body>

</html>