<div class="container job-offer">
    <div class="bg-primary text-white">
        <img src="https://www.lexnetcg.com/wp-content/uploads/2023/04/midjourney-google-meet-background-768x430.png">
    </div>
</div>