<div class="job-offer">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://media.istockphoto.com/id/145915645/vi/anh/n%E1%BB%81n-v%C4%83n-ph%C3%B2ng.jpg?s=612x612&w=0&k=20&c=9PGi8CZaP2TwaORlWHyw-qNkmOZndJLe_pytFVQmWlw="
                    height="400" class="d-block w-100" alt="slide">
                <div class="carousel-caption d-md-block">
                    <h2><span>YOU ARE</span> ENTHUSIASTIC ABOUT TECHNOLOGY,<br> OPEN-MINDED AND CREATIVE?</h2>
                    <p>Then become part of our success story! If you would like <br>to work interdivisional on
                        innovative ideas in a collegial team, then apply now.</p>
                    <button type="button" class="btn btn-outline-warning"><span class="fw-bold">TO OUR JOB
                            OFFERS</span></button>
                </div>
            </div>
        </div>
    </div>
</div>