<div class="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-top">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="bi bi-person h3"></i>MVLOGIN</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-globe2 h3"></i> EN
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">VI</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn" type="submit"><i class="bi bi-search h4"></i></button>
                </form>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img
                    src="https://www.mvtec.com/typo3conf/ext/mvtec/Resources/Public/Images/Assets/mvtec_logo.svg"
                    height="80"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-bottom">
                    <li class="nav-item" style="border-right: 0.125rem solid #dbd9d3;">
                        <a class="nav-link" href="#">PRODUCTS</a>
                    </li>
                    <li class="nav-item" style="border-right: 0.125rem solid #dbd9d3;">
                        <a class="nav-link" href="#">SERVICES & SUPPORT</a>
                    </li>
                    <li class="nav-item" style="border-right: 0.125rem solid #dbd9d3;">
                        <a class="nav-link" href="#">APPLICATION AREAS</a>
                    </li>
                    <li class="nav-item" style="border-right: 0.125rem solid #dbd9d3;">
                        <a class="nav-link" href="#">TECHNOLOGIES</a>
                    </li>
                    <li class="nav-item" style="border-right: 0.125rem solid #dbd9d3;">
                        <a class="nav-link" href="#">COMPANY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">DOWNLOADS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://www.mvtec.com/fileadmin/_processed_/e/2/csm_mvtec-merlic-easy-to-use-software_e1694ee177.jpg"
                height="680" class="d-block w-100" alt="slide">
            <div class="carousel-caption d-md-block">
                <h2>MERIC 5.5 <span>available soon</span></h2>
                <p>Learn all about the newest features <br>and register for our MERIC 5.5 webinar!</p>
                <button type="button" class="btn btn-outline-warning"><span class="fw-bold">DISCOVER
                        MORE</span></button>
            </div>
        </div>
    </div>
</div>