<div class="container-fluid news-events">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-lg-8 col-news">
            <h3>News</h3>
            <p class="fw-bold">Get all news about us and our products.</p>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://media.licdn.com/dms/image/D4E22AQFjoXrDPse3ZA/feedshare-shrink_800/0/1690375831180?e=2147483647&v=beta&t=rr0RXjpQYbQcAw0YN41ubiVUTGoemSS7VkXHhS5I2Z4"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="time ">February 2, 2024 <span> &#124; HALCON, Certified Integration
                                    Partner</span></h5>
                            <h5 class="card-title">MVTec welcomes Vision On Line as a new partner</h5>
                            <p class="card-text">MVTec is pleased to collaborate with Vision On Line, a company
                                specializing in automation solutions based on image processing. Together, they
                                optimize production processes using advanced machine vision, robotics, and
                                automation technologies.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://media.licdn.com/dms/image/D4E22AQFjoXrDPse3ZA/feedshare-shrink_800/0/1690375831180?e=2147483647&v=beta&t=rr0RXjpQYbQcAw0YN41ubiVUTGoemSS7VkXHhS5I2Z4"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="time ">February 2, 2024 <span> &#124; HALCON, Certified Integration
                                    Partner</span></h5>
                            <h5 class="card-title">MVTec welcomes Vision On Line as a new partner</h5>
                            <p class="card-text">MVTec is pleased to collaborate with Vision On Line, a company
                                specializing in automation solutions based on image processing. Together, they
                                optimize production processes using advanced machine vision, robotics, and
                                automation technologies.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://media.licdn.com/dms/image/D4E22AQFjoXrDPse3ZA/feedshare-shrink_800/0/1690375831180?e=2147483647&v=beta&t=rr0RXjpQYbQcAw0YN41ubiVUTGoemSS7VkXHhS5I2Z4"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="time ">February 2, 2024 <span> &#124; HALCON, Certified Integration
                                    Partner</span></h5>
                            <h5 class="card-title">MVTec welcomes Vision On Line as a new partner</h5>
                            <p class="card-text">MVTec is pleased to collaborate with Vision On Line, a company
                                specializing in automation solutions based on image processing. Together, they
                                optimize production processes using advanced machine vision, robotics, and
                                automation technologies.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <a href="#" class="frame-text text-white">
                <button type="button" class="btn btn-primary rounded-0 fw-bold" style="background-color:#062d64; margin-top: 4rem; padding-right: 3rem;">
                    <p>SEE ALL NEWS <span><%- include('link_animation.ejs') %></span></p>
                </button>
            </a>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4 col-events">
            <h3>Events</h3>
            <p class="fw-bold">Get all details about events, webinar and trade fair.</p>
            <div class="card">
                <div class="card-body">
                    <h5 class="time">March 20, 2024 <span>| MERLIC, Webinar</span></h5>
                    <h5 class="card-title">MERLIC 5.5 Webinar - learn all about new features</h5>
                    <p class="card-text"
                        style="white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;">Learn how
                        to use the new features of the easy-to-use software MERLIC with hands-on technical
                        demonstrations. Join the webinar on the release day of MERLIC 5.5!</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="time">March 20, 2024 <span>| MERLIC, Webinar</span></h5>
                    <h5 class="card-title">MERLIC 5.5 Webinar - learn all about new features</h5>
                    <p class="card-text"
                        style="white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;">Learn how
                        to use the new features of the easy-to-use software MERLIC with hands-on technical
                        demonstrations. Join the webinar on the release day of MERLIC 5.5!</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="time">March 20, 2024 <span>| MERLIC, Webinar</span></h5>
                    <h5 class="card-title">MERLIC 5.5 Webinar - learn all about new features</h5>
                    <p class="card-text"
                        style="white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;">Learn how
                        to use the new features of the easy-to-use software MERLIC with hands-on technical
                        demonstrations. Join the webinar on the release day of MERLIC 5.5!</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="time">March 20, 2024 <span>| MERLIC, Webinar</span></h5>
                    <h5 class="card-title">MERLIC 5.5 Webinar - learn all about new features</h5>
                    <p class="card-text"
                        style="white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;">Learn how
                        to use the new features of the easy-to-use software MERLIC with hands-on technical
                        demonstrations. Join the webinar on the release day of MERLIC 5.5!</p>
                </div>
            </div>

            <a href="#" class="frame-text text-white">
                <button type="button" class="btn rounded-0 fw-bold" style="background-color:#fbba00; color: #062d64; padding-right: 3rem;">
                    <p>SEE ALL EVENTS <span><%- include('link_animation.ejs') %></span></p>
                </button>
            </a>
        </div>
    </div>
</div>