<style>
	.products-title p {
		color: #062d64;
	}
	
	.w-85 {
		width: 85% !important;
	}
	
	.h-400 {
		height: 400px;
	}
	
	.container-fluid {
		margin-top: 30px;
	}
</style>

<div class="container-fluid products w-85">
	<div class="products-title fs-2 fw-bold">
		<p>Products</p>
	</div>
	<div class="products-description fs-5 ">
		<p>MVTec is a leading international manufacturer of software for machine vision. MVTec products are used in <a href="#">all demanding areas of imaging</a> and enable new automation solutions for the Industrial Internet of Things by providing <a href="#">high-end technologies</a> like 3D vision, deep learning, and embedded vision. Machine vision software from MVTec is developed and designed right at the headquarters in Munich, Germany.
		</p>
	</div>
	
	<div class="row g-0 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 h-400">
		<div class="products-teaser bg-primary col-sm-1 col-md-1 col-lg-2 w-50"></div>
		<div class="products-teaser bg-secondary col-sm-1 col-md-1 col-lg-1 w-25"></div>
		<div class="products-teaser bg-warning col-sm-1 col-md-1 col-lg-1 w-25	"></div>
	</div>
</div>
