<div class="container stories">
    <h3>Latest Success Stories</h3>
    <p>Learn more about how to use MVTec software products to develop high-innovative solutions: Read here the
        newest stories.
        <br> MVTec technologies are used in many different industries worldwide. To find a reference story out of
        your branch, please take a look at our success story page.
    </p>
    <div class="row" style="width:max-content">
        <div class="col-md-4 col-sm-12 col-lg-4">
            <a class="story link-underline link-underline-opacity-0" href="#">
                <div class="card border-light" style="width: 30rem;">
                    <img src="https://www.mvtec.com/fileadmin/_processed_/6/1/csm_2023.11.09_success_story_mvtec_inndeo_1_adcb6aef14.webp"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <ul class="nav">
                            <li>Food & Beverages</li>
                            <li>Deep Learning</li>
                            <li>OCR  OCV</li>
                        </ul>
                        <h4>Machine vision and deep learning detect defects in the food industry</h4>
                        <div><p class="card-text" style="white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;">Automation specialist INNDEO has developed a sophisticated automation solution for quality control in the packaging industry. Thanks to machine vision and deep learning technologies, high speeds and defect detection rates are no longer a problem.</p></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <a class="story link-underline link-underline-opacity-0" href="#">
                <div class="card border-light" style="width: 30rem;">
                    <img src="https://www.mvtec.com/fileadmin/_processed_/6/1/csm_2023.11.09_success_story_mvtec_inndeo_1_adcb6aef14.webp"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <ul class="nav">
                            <li>Food & Beverages</li>
                            <li>Deep Learning</li>
                            <li>OCR  OCV</li>
                        </ul>
                        <h4>Machine vision and deep learning detect defects in the food industry</h4>
                        <div><p class="card-text" style="white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;">Automation specialist INNDEO has developed a sophisticated automation solution for quality control in the packaging industry. Thanks to machine vision and deep learning technologies, high speeds and defect detection rates are no longer a problem.</p></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4">
            <a class="story link-underline link-underline-opacity-0" href="#">
                <div class="card border-light" style="width: 30rem;">
                    <img src="https://www.mvtec.com/fileadmin/_processed_/6/1/csm_2023.11.09_success_story_mvtec_inndeo_1_adcb6aef14.webp"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <ul class="nav">
                            <li>Food & Beverages</li>
                            <li>Deep Learning</li>
                            <li>OCR  OCV</li>
                        </ul>
                        <h4>Machine vision and deep learning detect defects in the food industry</h4>
                        <div><p class="card-text" style="white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;">Automation specialist INNDEO has developed a sophisticated automation solution for quality control in the packaging industry. Thanks to machine vision and deep learning technologies, high speeds and defect detection rates are no longer a problem.</p></div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <button type="button" class="btn btn-primary btn-lg" style="background-color:#062d64;">Browse Success Stories Now</button>
</div>