<%- include('../elements/head') %>

<body>
    <%- include('../elements/navbar') %>

    <div class="phuong" style="height:150rem; background-color: blanchedalmond;"></div>

    <%- include('../elements/stories') %>

    <%- include('../elements/job_offer') %>
    
</body>

</html>