body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluid {
    width: 85%;
}
.header .nav-item .nav-link{
    color: #062d64;
}
.nav-top .nav-item{
    margin-right: 3rem;
}
.nav-bottom .nav-item .nav-link:hover{
    border-bottom: 0.125rem solid #fbba00;
}
.navbar-brand{
    margin-bottom: 1rem;
}
.slider .carousel-item img{
    min-width: 1000px;
}

.slider .carousel-caption{
    margin-bottom: 7rem;
    text-align: left;
}
.slider .carousel-caption h2{
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 6rem;
}
.slider .carousel-caption span{
    color: #fbba00;
}
.slider .carousel-caption p{
    font-size: 1.5rem;
    font-weight: bold;
}

.container{
    margin-left: 2rem; 
}

.stories h3{
    font-size: 1.8rem;
    font-weight: bold;
    color: #062d64;
    margin-bottom: 1.2rem;
}
.stories .row{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.stories .nav{
    font-weight: bold;
    color:#a3a5a7;
    font-size: 1.2rem;
}
.stories li{
    margin-right: 1rem;
}
.stories h4{
    font-weight: bold;
    color: #062d64;
    font-size: 1.3rem;
}


.job-offer {
    margin-top: 8rem;
}
.job-offer img{
    min-width: 1000px;
}
.job-offer .carousel-caption{
    margin-bottom: 5rem;
    text-align: left;
}
.job-offer span{
    color: #fbba00;
    font-weight: bold;
}
.job-offer h2{
    font-weight: bold;
    margin-bottom: 2rem;
}

.news-events{
    margin-top: 4rem;
}
.card{
    border: none;
}
.news-events h3{
    font-size: 1.8rem;
    font-weight: bold;
    color: #062d64;
    margin-bottom: 1.2rem;
}
.news-events .col-events .card{
    margin-bottom: 1.2rem;
}
.news-events h5{
    color: #062d64;
    font-weight: bold;
}
.news-events .time{
    color: black;
}
.news-events span{
    color: #a3a5a7;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

.footer{
    margin-top: 5rem;
}
.top-footer{
    position: relative;
    min-height: 22rem;
}
.top-footer .layer{
    position: absolute;
    background-image: url('https://www.mvtec.com/typo3conf/ext/mvtec/Resources/Public/Images/Assets/footerBg.png');
    background-size: cover;
    height: 100%;
    background-position: center;
    z-index: 1;
}
.top-footer .color-bg{
    background-color:#062d64;
    z-index: 2;
    opacity: 0.5;
    position: absolute;
    height: 100%;
}
.top-footer .nav-link{
    color: white;
    text-transform: uppercase;
}

.top-footer .navbar-nav {
    width: 100%;
    margin-top: 3rem;
    z-index: 3;
}
.top-footer ul {
    width: 20%; 
}
.top-footer a{
    display: inline;
}

@media (max-width: 1200px) {
    .top-footer{
        display: none;
    }
}

.sub-footer{
    margin-top: 1rem;
}
.sub-footer ul{
    display: flex;
}
.sub-footer a, .sub-footer p{
    color: rgba(6, 45, 100, .5);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.7rem;
}
.social-media{
    margin-top: -2rem;
}