<%- include('../elements/header') %>

<body>
    <%- include('../elements/navbar.ejs') %>

    <!--CONTENT-START-->
    <div class="wrapper">
        <ul>
            <li><a href="#">All Posts</a></li>
            <li><a href="#">Successful Case</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Partner</a></li>
            <li><a href="#">Developer</a></li>
            <li><a class="btn-link" href="#"><img src="/image/search.png" alt="search"></a></li>
        </ul>
    </div>
    <div class="posts">
        <div class="content">
            <a href="#"><img src="/image/post1.png" alt="post1"></a>
            <div class="info">
                <a href="#"><h4>LIPSedge™ SDK Persistent Connection For PoE and USB</h4></a>
                <a href="#"><p>The LIPSedge™ SDK Persistent Connection available for LIPSedge™ 3D cameras, is made specifically for solving interface disconnections...</p></a>
            </div>
        </div>
        <div class="content">
            <a  href="#"><img src="/image/post2.png" alt="post2"></a>
            <div class="info">
                <a href="#"><h4>LIPSedge™ SDK Persistent Connection For PoE and USB</h4></a>
                <a href="#"><p>The LIPSedge™ SDK Persistent Connection available for LIPSedge™ 3D cameras, is made specifically for solving interface disconnections...</p></a>
            </div>
        </div>
        <div class="content">
            <a  href="#"><img src="/image/post3.png" alt="post3"></a>
            <div class="info">
                <a href="#"><h4>LIPSedge™ SDK Persistent Connection For PoE and USB</h4></a>
                <a href="#"><p>The LIPSedge™ SDK Persistent Connection available for LIPSedge™ 3D cameras, is made specifically for solving interface disconnections...</p></a>
            </div>
        </div>
        <div class="content">
            <a  href="#"><img src="/image/post4.png" alt="post4"></a>
            <div class="info">
                <a href="#"><h4>LIPSedge™ SDK Persistent Connection For PoE and USB</h4></a>
                <a href="#"><p>The LIPSedge™ SDK Persistent Connection available for LIPSedge™ 3D cameras, is made specifically for solving interface disconnections...</p></a>
            </div>
        </div>
        <div class="content">
            <a  href="#"><img src="/image/post5.png" alt="post5"></a>
            <div class="info">
                <a href="#"><h4>LIPSedge™ SDK Persistent Connection For PoE and USB</h4></a>
                <a href="#"><p>The LIPSedge™ SDK Persistent Connection available for LIPSedge™ 3D cameras, is made specifically for solving interface disconnections...</p></a>
            </div>
        </div>
        <div class="buttons">
            <button id="backward"><i class="fa-solid fa-angles-left"></i></button>
            <button id="prev"><i class="fa-solid fa-chevron-left"></i></button>
            <ul class="number">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <button id="next"><i class="fa-solid fa-chevron-right"></i></button>
            <button id="foward"><i class="fa-solid fa-angles-right"></i></button>
            <div class="clr"></div>
        </div>
        <div class="clr"></div>
    </div>
    
    <%- include('../elements/footer') %>
</body>
</html>