<div class="create_post module">
	<form action="/blog/store" method="post" id="write-comment">
		<div class="row">
			<input type="text" name="title" placeholder="Title">
			<input type="text" name="content" placeholder="Content">
			<input type="text" name="picture" placeholder="Picture link">
			<button type="submit">OK</button>
		</div>
	</form>
</div>
